<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumia</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/9ba9911552.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a href="index.html" class="brand">Lumia</a>
        </div>
        <div>
          <a href="cart.html"><i class="fas fa-shopping-bag"></i> Cart</a>
          <a href="signin.html"><i class="fas fa-sign-in-alt"></i> Sign In</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/p1.jfif" alt="product" />
            </a>
            <div class="card__body">
              <a href="product.html">
                <h2>Testing bluetooth speaker</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-half-alt"></i>
                </span>
                <span>
                  <i class="fa fa-star-o"></i>
                </span>
              </div>
              <div class="price">$99.99</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/p2.jfif" alt="product" />
            </a>
            <div class="card__body">
              <a href="product.html">
                <h2>Testing Nike baskets</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-o"></i>
                </span>
              </div>
              <div class="price">$99.99</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/p3.jfif" alt="product" />
            </a>
            <div class="card__body">
              <a href="product.html">
                <h2>Testing smart watch</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-half-alt"></i>
                </span>
              </div>
              <div class="price">$99.99</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/p4.jfif" alt="product" />
            </a>
            <div class="card__body">
              <a href="product.html">
                <h2>Testing sun glasses</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-half-alt"></i>
                </span>
                <span>
                  <i class="fa fa-star-o"></i>
                </span>
                <span>
                  <i class="fa fa-star-o"></i>
                </span>
              </div>
              <div class="price">$99.99</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/p5.jfif" alt="product" />
            </a>
            <div class="card__body">
              <a href="product.html">
                <h2>Testing chair</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-o"></i>
                </span>
                <span>
                  <i class="fa fa-star-o"></i>
                </span>
              </div>
              <div class="price">$99.99</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/p6.jfif" alt="product" />
            </a>
            <div class="card__body">
              <a href="product.html">
                <h2>Testing vintage camera</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$99.99</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All rights reserverd.</footer>
    </div>
  </body>
</html>
